.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3.modal-heading Modal header
  .modal-body
    %p One fine body…
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Add to Cart